[2013-05-06 03:25] lmrodriguezr opened #1 "-b doesn't generate .npc"
The -b argument fails to create the mates file.

[2013-05-06 20:28] lmrodriguezr opened #2 "-X not properly working"
When the corresponding -x is too small, it collapses to zero and doesn't create a query set.

[2013-05-06 20:31] lmrodriguezr opened #3 "Errors to .npl"
Errors should be logged into the .npl file.

[2013-05-06 20:35] #2 closed, assigned to nobody

[2013-06-18 18:21] carden24 opened #4 "Segmentation fault"
I am having problems running nonpareil, it runs fine but when it starts the sub-sampling I get a segmentation fault

 [     15.8]     Thread 5 completed 85 comparisons, joining results
 [     15.8]  Sub-sampling library
Segmentation fault (core dumped)00000%

I am also getting this problem when compiling, it may be related but I do not know how to fix it.

cd enveomics/ && make nonpareil
make[1]:

[2013-06-21 05:45] lmrodriguezr opened #5 "Warnings compiling"
The code produces the following warnings when compiling with gcc 4.6:

[code]

This problem was first reported as part of #4.

[2013-10-02 20:31] #3 closed, assigned to nobody

[2013-10-02 20:31] #1 closed, assigned to lmrodriguezr

[2014-01-27 17:39] lhor opened #6 "Average read length"
Hello Miguel,
I've been using Nonpareil for calculating the average coverage for metagenomes samples. However, after testing a sample with 159,997,927 sequences and a sequencing effort of 14,087,765,504 bp, the estimated average read length is ~7bp but it should be ~88 bp. I can provide you more details if you need them.
Thanks,
Coto

[2014-01-27 23:04] #6 closed, assigned to lmrodriguezr

[2014-01-27 23:05] #5 closed, assigned to nobody

[2014-01-27 23:05] #4 closed, assigned to nobody

[2014-02-04 18:58] yterrat opened #7 "Core dumped issue"
First thanks for the nice program you provide to the scientific community.
I have a bug while running Nonpareil :./nonpareil -s 20_1M.fastq -f fastq -t 12 -R 20000 -b test
Nonpareil v2.2
 [      0.0]  Counting sequences
 [      0.0]   The file 20_1M.fastq.enve-seq.18514 was just created
 [      0.0]     Longest sequence has 150 characters
 [      0.0]     Average read length is 150.000000 bp
 [

[2014-02-06 18:34] #7 closed, assigned to lmrodriguezr

[2014-10-07 07:50] carden24 opened #8 "Question on the use of paired end reads"
You mention in the documentation that when paired end reads are available only one set of the pair should be use. Could you expand the reason for this? Running it with both pairs will generate a wrong results or it will decrease performance,
thanks

Erick

[2014-10-08 20:26] #8 closed, assigned to nobody

[2014-11-06 21:21] carden24 opened #9 "Failure to generate nonpareil curves"
I have problems making the nonpareil curves with R.
I run mpi nonpareil as usual except I use the -L 25 options because I expect poor coverage. I also know from pyrotag data that I have closely related species in my samples.
There was no errors in running nonpareil and I get "everything seems correct result'
However when I try to get the curves I get the following warning messages:

Warning messag

[2014-12-05 15:06] lmrodriguezr opened #10 "Cannot install Nonpareil.R"
See the following session reported in a GNU Linux box:
[code]

[2015-01-15 18:59] lmrodriguezr commented on #9
Solved in v2.400

[2015-01-15 18:59] #9 closed

[2015-01-15 19:01] lmrodriguezr commented on #10
This error occurred in a machine running Ubuntu server 10.2 and R 3.1.2

[2015-03-28 12:05] shenwei356 opened #11 "How Can I save the plot?"
Hi,

How can I save the Nonpareil curves to files? I run it in ssh client, without X windows.

Thanks

[2015-03-29 19:08] lmrodriguezr commented on #11
This code should do the trick:

    pdf('Nonpareil-plot.pdf')
    Nonpareil.curve(...) # Or Nonpareil.curve.batch(...)
    dev.off()

[2015-03-29 19:08] #11 closed

[2015-03-30 02:21] shenwei356 commented on #11
Thank you @lmrodriguezr

[2015-12-16 23:19] ottentim opened #12 "Estimating coverage per sequencing effort"
When running nonpareil from the command line and viewing the .npo output file in R, where does the "empty circle" value for the estimated coverage depth vs sequencing effort com from??  Presumably it is from the end of the .npo file (see below for output), which in the case of the attached output suggests that the coverage was about 72.8% for my sequencing effort:
...
1732486 0.35225 0.05063 0.318

[2015-12-30 19:28] lmrodriguezr commented on #12
Hello @ottentim. Your interpretation of the plot is correct, but note that the values in the .npo file are not measuring the same thing. The [values in the .npo file correspond to redundancy](http://nonpareil.readthedocs.org/en/latest/redundancy.html#output), which is a value specific to the parameters used, in particular to -L. On the other hand, the plot's values are the estimated coverage depth

[2015-12-30 19:44] lmrodriguezr commented on #10
I couldn't reproduce this error, I'll close it until I confirm any other incident.

[2015-12-30 19:44] #10 closed

[2015-12-30 19:44] #12 closed

[2015-12-30 23:15] ottentim commented on #12
Thank you Luis,

Your response was very helpful. This is a really great tool!  Happy New
Year.

Cheers,

Tim Otten

On Wed, Dec 30, 2015 at 11:28 AM, Luis M Rodriguez-R <
notifications@github.com> wrote:

--
-----------------------------------------
Timothy G. Otten, PhD, MPH
Department of Microbiology
Oregon State University
226 Nash Hall
Corvallis, OR 97331
T: 541-737-1796

[2016-01-03 23:34] driscolc opened #13 "Any way to use with corrected PacBio reads?"
I know that curve generation is optimized for small reads as stated on your website, but is there a way to use this program on corrected PacBio reads?

[2016-01-04 00:42] lmrodriguezr commented on #13
Hello @driscolc.
Thanks for your interest in Nonpareil! Unfortunately, we're not planning on extending support to PacBio. I've now included a detailed response for this in [Nonpareil's FAQ](http://enve-omics.ce.gatech.edu/nonpareil/faq#pacbio).

However, I would be curious to know about the target community (sample), perhaps I can offer some workaround (?). I'm closing the issue for now.

[2016-01-04 00:42] #13 closed

[2016-01-04 00:56] driscolc commented on #13
Hi Luis,

Thanks for the timely response! My sample is from a relatively
non-diverse, non-axenic bacterial culture obtained from a freshwater
lake sample. We've sequenced with 8 SMRT cells of PacBio (~2GB file of
filtered, corrected reads), and have closed three genomes, although we
have evidence of perhaps up to half a dozen bacterial genomes from
Illumina sequencing on the same culture. I wanted

[2016-01-14 20:23] lmrodriguezr commented on #13
Since you have SMRT cells, I would say that the quality is not much of an issue. However, the length is still a problem, because PacBio lengths would cause a decrease in sensitivity and perhaps even some segmentation faults in the implementation. Since you have a low-diversity sample, one way to solve this is to simulate Illumina-like reads from the PacBio reads, perhaps extracting a 500bp-long pi

[2016-07-21 15:45] gunturus opened #14 "nonpareil alignment version can't use fastq files"
There is a problem with nonpareil alignment version. It can't use fastq files. It will go through the whole code. But, it will output files with all zeros.
[SRR096387_1.npo.txt](https://github.com/lmrodriguezr/nonpareil/files/376416/SRR096387_1.npo.txt)

[2016-07-22 21:14] gunturus opened #15 "linux compatiable"
doesn't create proper filenames in linux systems

[2016-07-22 22:42] gunturus commented on #15
It is important to declare variables in the right scope if the pointer is assigned to it. It is unusual.

[2016-07-22 22:42] #15 closed

[2016-10-11 05:07] chengchenye opened #16 "make nonpareil-mpi"
I am getting this problem when compiling  .
The code produces the following warnings when compiling with mpic++:
make mpicpp=/mnt/ilustre/users/chengchen.ye/software/openmpi/bin/mpic++ nonpareil-mpi
cd enveomics/ && make nonpareil-mpi
make[1]: Entering directory `/mnt/ilustre/users/chengchen.ye/project/Nonpareil/lmrodriguezr-nonpareil-92e9a25/enveomics'
/mnt/ilustre/users/chengchen.ye/software/ope

[2016-12-22 09:37] gisleDK opened #18 "Nonpareil.curve fails on test dataset"
nonpareil -s test.fastq -T alignment -b test -f fastq

R version 3.2.5 (2016-04-14)

Error in if (a[twenty.pc, 5] == 0) { : argument is of length zero
In addition: Warning message:
In log(read.length) : NaNs produced

[2016-12-22 16:00] lmrodriguezr commented on #18
@gisleDK May I see the `test.npo` file?

Thanks!

[2016-12-22 21:57] gisleDK commented on #18
Must definitely and thanks for the fast reply!
[test.npo](https://gist.github.com/gisleDK/2090cde28ddab98b1fc8ee9f8469c86f)

[2017-01-04 23:53] lmrodriguezr commented on #18
Hello @gisleDK , sorry for the delay answering.
It looks like you're using a short-lived version that had a bug in it. Please update the codebase, re-compile, and re-run the test. The problem is in the run of the binary, not in the R library. Sorry for the inconvenience, I hope this solves the issue.

BTW, the problematic line in the `test.npo` file is:
[code]

That should be:
[code]

[2017-01-05 10:40] #18 closed

[2017-01-12 07:27] shimingt opened #19 "Fatal error: Cannot open the file: reads.fa"
Hello there,

I have an error when I tried to run nonpareil:

tanshiming@S620100019205:~/Documents/nonpareil-trial$ nonpareil -s reads.fa -b output
Nonpareil v3
 [      0.0]  Counting sequences
Fatal error:
Cannot open the file:
reads.fa
 [      0.0] Fatal error: Cannot open the file: reads.fa

I have tried doing this on fasta and fastq files; the files are an illumina-trimmed dataset. Can someone

[2017-01-12 07:57] gisleDK commented on #19
It sounds like the file, reads.fa, is not found. Try specifying exact path of reads.fa

[2017-01-12 14:21] gunturus commented on #19
how did install nonpareil. Did you use the release or did you clone

[2017-01-13 00:45] shimingt commented on #19
Hello @gunturus , I git cloned nonpareil. I did exactly everything that was mentioned on Nonpareil webpage, but I still got the error message.

[2017-01-13 04:30] lmrodriguezr commented on #19
Is the file `reads.fa` present in `~/Documents/nonpareil-trial`? Please do `ls ~/Documents/nonpareil-trial` and post the output.

[2017-01-17 08:11] shimingt commented on #19
Hello Guys,

Sorry for the late reply. Here is the output:

tanshiming@S620100019205:~/Documents/nonpareil-trial$ ls ~/Documents/nonpareil-trial
reads.fasta  UPWRP0508161KA_TCCGGAGA-ATAGAGGC_L1L2_R1_001.fastq

My reads.fasta file is definitely in the same folder.

Any suggestions?

[2017-01-17 08:18] gisleDK commented on #19
reads.fa ≠ reads.fasta

[2017-05-19 18:52] lmrodriguezr opened #20 "Infinite loop when subsampling more reads than available with -T kmer"
When using `-T kmer` and the number of requested query reads (`-X`) is greater than the number of reads in the entire set, Nonpareil stays in an eternal loop (*e.g.*, when using `-s test/test.fasta`). It should instead fail with an informative error or (even better) adjust `-T` to the total number of reads in the set.

[2017-05-19 18:54] lmrodriguezr commented on #16
I cannot reproduce this error. Do you have the developer libraries of MPI?

[2017-05-19 18:55] #19 closed

[2017-05-19 23:35] gunturus commented on #20
I fixed the bug. Before we run the algorithm, it will check the number of sequences in the metagenome. It will make sure to have 10 times query sequences. I chose to put a lower limit at 10 times the query sequence because we are randomly picking sequences. If the file as only 1010 sequences and the number of query sequences is 1000, it would be hard to find sequences which haven't been used by ra

[2017-05-19 23:35] #20 closed

[2017-06-27 00:25] wwood opened #21 "make nonpareil-mpi failed: enveomics/SeqReader.o: No such file or directory"
Hi,

Came across this running `make nonpareil-mpi`:
[code]
I believe this is caused by not all the objects being compiled in `enveomics/Makefile`. I was able to workaround this using something similar to `make nonpareil; make nonpareil-mpi`.

Can I ask also, does it make sense to use the git or the release, since the newest release is from 2015?
ta
ben

[2017-06-27 15:30] gunturus commented on #21
Hi ben,

We have made some important changes to nonpareil.

I would re clone and compile again as I made some changes to the options and help print just right now. To improve the speed of nonpareil, we developed a kmer based algorithm which is many times faster than aligning the reads. You will be able to process soil metagenomes on a single desktop within two hours depending on the size of the me

[2017-09-28 21:54] shaman-narayanasamy opened #22 "Installation fails with R"
Dear authors/developers,

I am attempting to install nonpareil on my cluster environment. Therefore, I do not have any root access.

However, I keep failing on the R package getting a "Permission denied" error, despite the R package install path belonging to me.
[code]
I attempted the same by giving my `$HOME/R` as the path with the same outcome.

To further check, I also tried installing the pack

[2017-09-28 23:46] lmrodriguezr commented on #22
Hello @shaman-narayanasamy ,
The R package installation is the last step of `make install`, so you have successfully installed it by manually running the `R CMD INSTALL`.

However, if you want `make` to succeed (e.g., if you're automating the installation and want to check exit code, or if you just like clean runs) the way to control the R library is by passing the R library variable. The `R` vari

[2017-09-28 23:46] #22 closed

[2017-09-29 19:04] shaman-narayanasamy opened #23 "MPI version installation error"
Dear authors,

It is me again :)

The install for the regular version of `nonpareil`. I am now attempting the install of `nonpareil-mpi`. However, below is the error that I receive:
[code]

Below is the MPI version available on my cluster.
[code]

Let me know if you need more information. It would be nice to implement the mpi version of the tool.

Best regards,
Shaman

[2017-09-29 22:16] lmrodriguezr commented on #23
I believe the problem is missing libraries on your machine. Which OS are you using? If you have apt-get you can do:
[code]

Note that since Nonpareil v3.0 there is a new kmer-based kernel available (`-T kmer`) that makes computations much faster, but does not support MPI. MPI can only be used with the traditional alignment kernel (`-T alignment`).

[2017-11-02 17:47] bebatut opened #24 "Installation of nonpareil via conda"
Hi,

Nonpareil has been integrated into [Bioconda](http://bioconda.github.io/), to facilitate its installation via conda: http://bioconda.github.io/recipes/nonpareil/README.html (the latest version will be soon available)
If you want, I can open a Pull Request here to update the README file and the doc to add how to install Nonpareil using conda and also the badge: [![install with bioconda](https:

[2017-11-13 16:31] lmrodriguezr commented on #24
These are great news @bebatut !
Yes, please open a PR to add the badge to README + Docs. Are the new released versions added automatically? The v3.2 (just released) resolved an important bug in the diversity estimates that affected libraries of extreme sizes (very large or very small). This release will likely stay stable for a while because it's the codebase on the next publication (coming up soo

[2017-11-14 14:47] bebatut commented on #24
The new releases are not added automatically. I will update the conda package.
BTW, we also created a Galaxy wrapper for Nonpareil: https://toolshed.g2.bx.psu.edu/view/iuc/nonpareil/280386b252a5. It can be used on any Galaxy instance. Will you be interested to add this info to the doc too?

[2017-11-14 14:56] lmrodriguezr commented on #24
Awesome!

Yes, please :)

[2017-11-14 16:40] bebatut commented on #24
I created PR to update the conda package of Nonpareil: https://github.com/bioconda/bioconda-recipes/pull/6784
Once it will be merged, it will automatically add a new version for the conda package and also for the Biocontainer

[2017-12-08 12:07] koopkaup opened #27 "Diversity index formula"
In the latest version a new diversity index is calculated. What formula and index value does it use?

Most recent R package version 3.3 lost all values explanations. Maybe that information should be put there.

[2017-12-12 04:15] lmrodriguezr commented on #27
We're working on refactoring the R code to make it more stable and easier to maintain and understand, but unfortunately that comes with a little delay on the documentation. This will be included when we launch the release accompanying this v3.3 of the R code. We're currently working on a formal description of the diversity index that should be out soon (we'll release it while in review), but for n

[2017-12-28 13:36] boulund opened #28 "Strange output filenames"
Hi,

I see some strange behavior, where the some of the output files don't have the prefix assigned via `-b`:

[code]

The files named `??UH?????` are a bit annoying to work with on the terminal, and running nonpareil twice in the same dir overwrites these files, which is also a bit annoying.

My system is Linux:
[code]

Is this the intended behavior?

[2018-01-19 22:25] #24 closed

[2018-01-26 09:47] koopkaup opened #29 "Input from stdin"
Is it possible to get the input file from standard input?
For example, all my data is compressed and it would be more convenient to just pipe gunzip output to stdout and the use it as stdin in nonpareil.

[2018-01-26 15:26] lmrodriguezr commented on #29
Hello @koopkaup
Unfortunately, that would require major changes in the code, because the input files are read multiple times:
* For -T kmer  or -T alignment in one machine: There is an initial file pass to sample query reads and count total reads, and a second pass to run the comparisons.
* For -T alignment with MPI: Each machine makes a pass as opposed to sending data directly to worker nodes to

[2018-01-26 15:51] gunturus commented on #29
For random sampling, we randomly move to a position in the file. So, this will require us to have the file uncompressed to begin with.

[2018-03-09 15:45] Freemacl opened #30 "Segmentation fault (core dumped)"
Hello,

I saw there were a couple of closed issues reporting something similar, but it seems like they were all corrected by updating. I am using Nonpareil v3.2, just installed today via conda.

I executed this command:
nonpareil -s ~/pathto/seqs.fastq -T kmer -f fastq -t 2

Which produced this output:
Nonpareil v3.2
 [      0.0]  reading /home/imss/Vault/Community/NunavutWWTPMetagen/Reads/18SEPin

[2018-03-09 15:56] gunturus commented on #30
can you output the first 10 lines of the fastq file. You are missing -b option on your command.
-b refers to the prefix of the output files

[2018-03-09 16:49] Freemacl commented on #30
Wow easy fix... Thank you for the quick response!

[2018-03-09 16:51] gunturus commented on #30
I will make -b a requirement and give a proper message.

thank you for noticing the problem.

[2018-03-09 16:51] #30 closed

[2018-03-15 17:24] Roli-Wilhelm opened #31 "Conda Installation Breaks R (everytime)"
Hi There,

Installing nonpareil into a fresh conda environment with R-base produces the following error:
"/home/roli/anaconda3/envs/nonpareil/lib/R/bin/exec/R: error while loading shared libraries: libiconv.so.2: cannot open shared object file: No such file or directory"

Please advise.
(this error was replicated in my base conda environment: i.e. user beware)

[2018-03-19 09:02] IM-han opened #32 "error in Nonpareil.curve"
Dear author
        I have a problem in Nonpareil.curve(). when i do Nonpareil.curve("134.npo"), it show an error that "Error in if (x$y.p50[twenty.pc] == 0)".
        The file "134.npo" is as follow.  I can not understand what is wrong with it?
[code]

[2018-03-19 15:32] lmrodriguezr commented on #32
Hello @IM-han

It appears your problem is insufficient data, but it is a little unexpected given that you seem to have 28 million reads with ~300bp each. Could you please post the command you used?

Try using:
[code]

Or, if you have an older R Nonpareil package, use:
[code]

[2018-03-19 15:41] lmrodriguezr commented on #31
Hello @Roli-Wilhelm
@bebatut have you seen this? I'm not very familiar with the conda env. Do we need to change the way we install the R package? I could produce a matching release for both sides (right now the R package is a little ahead in CRAN).

[2018-03-22 00:41] IM-han commented on #32
I did as what you say, but it still showed error. The command was that "Nonpareil.curve("134/134.npo", enforce.consistency=FALSE)", and the error was that "Error in if (x$y.p50[twenty.pc] == 0) { : 参数长度为零".
And the command "Nonpareil.curve("134/134.npo", data.consistency=FALSE)", it still get the same error "Error in if (x$y.p50[twenty.pc] == 0) { : 参数长度为零".
You said that my data was insufficient,

[2018-03-22 19:10] lmrodriguezr commented on #32
@IM-han it appears you executed a version of `nonpareil` that was up shortly and included a bug (see also #18). Please remove the line `# @ksize: 842085680` from your `134.npo` file and run it again.

For future runs please update your nonpareil version.

[2018-03-26 04:46] IM-han commented on #32
Thank you very much. I get it! The problem is what you said.

[2018-03-26 13:34] #32 closed

[2018-03-27 06:01] IM-han opened #33 "The problem with xlim"
When I plot a curve with the code "Nonpareil.curve.batch(File,libnames=Name,xlim = c(1e+8,1e+15))",but the xlim didnot work.　The picture is below. I want to get the x-axis bigger, so that it can show more information. The parameter xlim only work in Nonpareil.curve(), and it dosenot work in Nonpareil.curve.batch(). And I want to know what mean is the "arrow" in a picture.
![default](https://user-i

[2018-03-27 14:00] gunturus commented on #33
The arrow points to the inflection point of the curve.

[2018-03-27 15:58] lmrodriguezr commented on #33
Hello @IM-han

Try passing `xlim` explicitly as a plot option:
[code]

[2018-03-28 01:14] IM-han commented on #33
Thank you. I get it. How about the picture below. Dose the circle on the curve mean the same with the arrow in the picture I get ?
![default](https://user-images.githubusercontent.com/33390378/38003064-59ac1538-3268-11e8-8596-b3919e2d2934.png)

[2018-03-28 15:25] lmrodriguezr commented on #33
No, the circle means the actual sequencing effort and estimated average coverage of the sample. It's the equivalent to the rightmost end of the solid lines in the previous figure.

You can check out this example:
http://enve-omics.ce.gatech.edu/nonpareil/results?jid=example1

Play with the radio selects (Plot model only, Plot curve only, and Plot curve and model) to see how they correspond to each

[2018-03-28 15:25] #33 closed

[2018-04-25 19:05] abenaa07 opened #34 "Nonpareil curve output file"
It looks like the nonpareil output file has on the x axis sequencing effort (bp) and that number is not accurate. The x axis should be sequencing effort (number of reads) that number should then be multiplied by the average read length to figure out sequencing effort in number of bps.

[2018-04-26 17:06] lmrodriguezr commented on #34
Hello @abenaa07
Do you have an example with the sequencing effort is being reported in reads instead of bp? I'm checking at the example in the website (http://enve-omics.ce.gatech.edu/nonpareil/results?jid=example1) and it looks like it's correctly rendered in bp.

Thanks!
Miguel.

[2018-05-17 22:22] ohthetrees opened #35 "Can't process gzipped fastq"
Hi, I'm just getting started with Nonpareil, thanks for your work.

I'm unable to process my gzipped fastq. If I first uncompress the file, it processes as expected. The error:

[code]

[2019-05-13 03:41] shimingt opened #36 "Unable to find required package ‘Nonpareil’ in the R package"
Dear Luis,

I have installed nonpareil using conda, and have successfully performed obtain the .npo files. Unfortunately, I am not able to load the nonpareil package library in R.

[code]
I have also tried to install nonpareil using the "make" command, but to no avail.

Will appreciate any help that can be rendered.

Thank you!

[2019-05-13 14:06] lmrodriguezr commented on #36
Hello @shimingt

The Nonpareil package is available in the official CRAN repository, so you can simply run this in R:

[code]

I'll close the issue for now, but please feel free to respond if you want us to reopen.

Best,
Miguel.

[2019-05-13 14:06] #36 closed

[2019-07-26 17:35] sturne29 opened #37 "Read length fatal error"
Hello! I'm trying to use the software to estimate the coverage of paired-end metagenomes generated on the NovaSeq platform and many of the samples give me the same error.

Command (in folder containing files):

`for f in *_L002_R1_001.fastq;
    do nonpareil -s $f -T kmer -f fastq -b /nonpareil_out/${f%.*};
done
`

Error:

`Fatal error: Reads are required to have a minimum length of kmer size`

My

[2019-08-14 23:32] mldillon-LBL commented on #37
Hi, I'm having this same issue.

nonpareil -s ../Vault_Tunnel_q30/Vault_Tunnel_q30.fastq -T kmer -f fastq -b Vault_Tunnel_nonpareil

@sturne29 did you find a solution?

Thanks!

[2019-08-15 00:12] sturne29 commented on #37
Unfortunately, no, and haven't really had time to try much of anything myself. Still definitely interested in an answer! I'll share mine if I happen to get a chance to try some stuff and stumble on something that works.

[2019-08-15 00:57] lmrodriguezr commented on #37
Hello,
Any chance one or more entries in the FastQ are empty or shorter than 21bp?
If possible, would you please share a FastQ file producing this error?

Thanks!
Miguel.

[2019-08-15 15:18] sturne29 commented on #37
I think my preprocessing steps should have removed any reads that short, but I'll give it another check to make sure. My files are mostly pretty large (> 2 GB), so I don't know if that's feasible for sharing, but I'll see what I can do.

[2019-08-15 16:00] mldillon-LBL commented on #37
I thought this might be the problem, so I removed short reads using bbduk.  It did remove 13 reads, but I got the same error. I tried again on a smaller file with the same result (note, the suffix says paired, but they're the f reads only):

$ bbduk.sh in=../Vault_Tunnel_q30/RM-CC-RM2-VT-3-3s_S4_L008_R1_001_q30.fastq.paired.fq out=RM-CC-RM2-VT-3-3s_S4_L008_R1_001_q30_21.fastq  minlen=21

BBDuk ver

[2019-08-23 18:32] sturne29 commented on #37
Positive update!

Initially, I also used the bbduk.sh script to remove reads shorter than 21 bp, but still had the same fatal error regarding minimum length in some files. I then wondered about what would happen if I removed short reads longer than 21 bp, and I decided to try it out.

Using bbduk.sh again, I removed any reads shorter than 50 bases, and everything looks like it's working great. I d

[2019-08-23 18:32] #37 closed

[2019-08-28 16:33] snayfach opened #38 "Obtaining diversity estimate"
Thanks for the great documentation and software design. Installation and running was super easy.

One question - how to I obtain the nonpareil sequence diversity estimate? I may have missed it, but I couldn't find this info in the documentation. I assume I get this from the 'diversty' slot in the nonpareil object after running the Nonpareil.curve function. Is that correct?

[2019-08-30 16:13] snayfach commented on #38
Thanks! I'd suggest adding this info to the docs for those who are impatient and using the tool just for this value :)

[2019-10-05 08:43] Jigyasa3 opened #39 "Better visualization of Nonpareil.curve.batch for 200 samples"
Hey @lmrodriguezr

I was wondering if it's possible to call ggplot or any other visualization R software to get a cleaner/publication quality image for Nonpareil.curve for 200 samples?

My codes-
$ls 230*.npo > sample_list_batch.txt #add .rpo filenames to a text file
R

#>Nonpareil.legend(np)

My plot-
![image](https://user-images.githubusercontent.com/21186292/66252515-98bb4b00-e797-11e9-80a0-104

[2019-10-07 17:47] lmrodriguezr commented on #39
Hello @Jigyasa3

I recommend considering these three things that could improve the visualization for you:
## 1. Plot model only
You're currently using an old flag (`modelOnly = TRUE`), that is being ignored. Use instead `plot.observed = FALSE`:
[code]
## 2. Do not include the legend
There is no way to effectively pair 200 lines with different colors with their corresponding legend, so I'd suggest

[2019-10-14 02:51] Jigyasa3 opened #40 "extracting out "final coverage" , "actual effort" and "required effort" in numbers from .npo file"
Hey @lmrodriguezr  @bebatut @gunturus

I was wondering if it's possible to extract out the actual values of stats measured by nonpareil software directly, without the R graph.

I am looking at 200 samples and visualizing all of them on a plot doesn't work. So, I wanted  to get the values of "final coverage" , "actual sequencing effort" and "required sequencing effort" in numbers from .npo file to

[2019-10-14 02:52] Jigyasa3 commented on #39
Thank you for replying @lmrodriguezr ! Removing the legend does improve the plot, but it's still a bit crowded with 200 samples. Could you check the new issue I have created for the same?

Thank you for your help!

[2019-10-14 22:21] lmrodriguezr commented on #39
Did you correct the flag to `plot.observed = FALSE`? That will also reduce the noise in the plot.

[2019-10-14 22:21] #39 closed

[2019-10-14 22:25] lmrodriguezr commented on #40
To turn off plotting simply pass `plot = FALSE`.

You can call the typical summary functions on the output (`summary` or `print`) to show all the statistics from a single curve or a curve set. See the examples in `?Nonpareil.set` and `?Nonpareil.curve`. The `.npo` files only have redundancy information, not coverage, so you cannot extract those values directly. You still need the R package, but yo

[2019-10-14 22:25] #40 closed

[2019-10-28 12:36] andrewjmc opened #41 "Paired end reads (again!)"
Can I asked again about paired end reads. I have followed the advice to use only one mate pair. However, it leaves me with a challenge of interpretation. Say I determine that 1e10 bases gives 95% coverage, and this is what I wish to achieve, do I decide:
- I need 2e10 bases to achieve this coverage (seems unlikely, since the second mate pair not analysed by nonpareil will contribute more coverage)

[2020-01-27 18:13] nick-youngblut opened #42 ""Picking N random sequences" forever"
I'm running `Nonpareil v3.303`, and for one particular sample in a publicly available metagenome (accession SRS015133), nonpareil runs `Picking N random sequences` forever (I've let it run for many hours). The other samples in that bioproject work just fine.

My command:

[code]

Even if I use `-X 100`, the command runs forever. If I append reads from another sample, `nonpareil` runs successfully.

[2020-03-19 22:17] russejenn opened #43 "nonpareil.curve.batch - double legend?"
Hello,

I am trying to graph 24 samples together using Nonpareil.curve.batch, and the regular command outputs a legend that goes right over top of my curves, and the box isn't see-through. When I try to move the legend using nonpareil.legend, it makes a second legend (so the graph has two). Is there a way to remove the legend from the Nonpareil.curve.batch command? Or am I doing something wrong? (

[2020-03-20 00:52] lmrodriguezr commented on #43
Hello @russejenn
Note that you're using a syntax that is no longer supported (kept for backwards compatibility). I'm suggesting below the easier-to-use version of the same code you have (using `Nonpareil.set` instead of `Nonpareil.curve.batch`).

There are two ways to achieve this.
My preferred option is to turn off the legend first, and then plot the legend separately:

[code]

However, you can a

[2020-03-20 00:52] #43 closed

[2020-03-20 00:52] lmrodriguezr commented on #43
Please feel to reopen if this doesn't work for you

[2020-06-03 11:51] nick-youngblut commented on #42
Any thoughts on this issue? It's still a problem

[2020-06-03 12:05] nick-youngblut commented on #42
I'm guessing the problem is resulting somewhere from within `FastqReader::getRandomSeq`

[2020-07-07 19:55] gunturus commented on #42
@nick-youngblut I have downloaded SRR061182. It seems the 15th base is always 'N' in all the sequences. So nonpareil runs forever until it finds viable sequence.

[2020-07-08 07:35] nick-youngblut commented on #42
@gunturus thanks for checking that! Maybe it would be helpful to have a break condition in the code in which the loop breaks after a user-specified number of tries?

[2020-07-09 00:20] lmrodriguezr commented on #42
Solved by c155bd134809339fe4ed994975912b6742646d3b

[2020-07-09 00:20] #42 closed

[2020-08-28 07:53] Thomieh73 opened #44 "How to set -X and -n"
Hi,
I was wondering if there is any need to deviate from the default values for -X and -n. I saw that -X is should be 10 x less than the complete dataset. So all my datasets have at least 10 milion reads, Would it then be right to set -X at 1 million reads. What would be the advantage for the calculations. I noticed that takes quite a bit longer to run the job.

The same for -n, it is by default a

[2020-08-28 17:14] tylerbarnum opened #45 "Systematic bias at low coverage (under 20%)"
(For others who come across this: this is an issue with an edge use case of Nonpareil; I’m otherwise very happy with the program and trust it for higher coverage samples).

I designed an experiment to see how the output of Nonpareil changes when a FASTQ is repeatedly halved in size. The behavior above a redundancy value of 20% is that the subsampled FASTQ files follow the Nonpareil curve of the la

[2020-08-29 14:28] lmrodriguezr commented on #44
Hello @Thomieh73

In general, there is no need to change them.

Increasing -X would increase precision and the reproducibility between runs on the same sample, but it would also increase the running time significantly. In our experience, the default values (1k for alignment, 10k for kmer) generally perform very well with real data of any sequence diversity. In the case of very large metagenomes fr

[2020-08-29 14:28] #44 closed

[2020-08-31 07:07] Thomieh73 commented on #44
Thanks for the explanation. Than I will stick with the default parameters.

[2020-11-06 10:02] jfy133 commented on #35
I'm starting to investigate nonpareil, and also had the same issue.

Having gzipped input support would be very useful to have, because I have >100 sequencing files all in >1GB file-size range, so having to decompress each time would be a bit nasty when trying to parallelise processing all the files at once.

So I would like to give support to this, if a solution is feasible!

[2020-11-06 18:11] lmrodriguezr commented on #35
@gunturus Do you have an update on this issue? I know you were looking into it. Thanks!

[2021-02-25 11:15] jfy133 commented on #35
@gunturus do you have any more news? I'm interested in potentially adding nonpariel to the [nf-core/eager](https://github.com/nf-core/eager) pipeline, but the lack of `gzip` support is unfortunately a deal breaker...

[2021-02-25 12:53] gunturus commented on #35
@jfy133 unfortunately gzip is not supported. @lmrodriguezr do you have any suggestions to provide gzip support? I have no idea.

[2021-05-05 15:09] andrewjmc opened #46 "Using np to target subsampling"
Hello,

This is a question rather than an issue, apologies if this is a bad place to post.

Thanks for such a useful tool. I'd be interested in your views on using Nonpareil curves to guide subsampling.

Let's say we want to coassemble a large number of samples, and the size exceeds what can be done within resource limitations. One solution is to randomly subsample a proportion of the reads from e

[2021-05-05 15:09] #41 closed

[2021-06-09 11:29] jfy133 commented on #35
Do you think this is in anyway on a roadmap @lmrodriguezr? Just to know if I should look for different solutions instead.

[2021-07-01 11:16] handibles commented on #38
Thanks to the Devs for the great package.

I would second the above - a discussion / mention of the diversity metric in the docs would be extremely helpful, as it's not clear if this is even available in the current version (in my case, it is the aspect I am most interested in). As above, the ```Nd``` value is available in ```R``` via:

[code]

My understanding of the theory is, at best, partial -

[2021-07-01 22:00] handibles opened #47 "meaning of warning / use of -L in kmer mode"
Hey & thanks Devs for the packages.

I have a persistent warning that my sequences are approaching saturation:
[code]
Is the overlap param, ```-L```, used in kmer comparisons also (i.e. in ```-T kmer```)?

And if so, is the unreliability only to be found at the extremes (near the asymptotic point of saturation), or could the values be particularly unreliable across all values generated (and especi

[2021-08-24 08:05] VGalata commented on #35
I would also like to add that having support for compressed FASTQ files would be good.

[2021-08-24 10:18] VGalata opened #48 "Not reproducible results"
Hello,

I have a question regarding the reproducibility of the results: I ran `nonpareil` on the same input using the same command line and got slightly different results for both runs.
Is that something to be expected? Do you know what the source of this randomness is and whether the analysis could be made deterministic in the future?

Used version: `nonpareil=3.3.3=r341h470a237_0` installed via

[2021-09-01 14:05] lalalagartija opened #49 "number of initial reads"
This is more of a question than an issue but :
is nonpareil biases on the number of initial reads we give it ? Should we change -X to more if we have datasets with great number of reads ?

And also, just to be sure : this tool works with shotgun not amplicon metagenomes right ?

Thank you very much in advance,

[2021-09-10 10:26] andrewjmc opened #50 "Throat metagenomes"
Hello,

I have 150bp paired end reads from throat metagenomes. Human reads have been removed and I have quality trimmed. Depth is highly variable because human % varies.

I ran Nonpareil with overlap 100 and default -S (0.95). Approximately half of the samples give the following warning and then fatal error:

[code]

I don't fully understand what it means for depth to be "above" detection limit, a

[2021-09-10 11:24] lmrodriguezr commented on #50
Hello @andrewjmc
This is a confusing message that we should fix in future releases.

It simply means that you coverage is so high (above 95%) that the actual value can be inaccurate. For example, the estimated coverage could be 98% when the real coverage is 99.9% (or the other way around). For values very near saturation, that might be an important caveat,  but in most cases what we need to know i

[2021-09-10 11:24] #50 closed

[2021-09-11 17:21] andrewjmc commented on #50
Really helpful response, thanks!

[2022-01-14 20:57] ZoeHansen opened #51 "Error in file(con, "r") : invalid 'description' argument"
Hello!

Thank you for your work with Nonpareil -- it's an incredibly useful tool! Unfortunately, I am running into some issues when attempting to run 'Nonpareil.set' and 'Nonpareil.curve.batch'.  I didn't see this error popping up in any other issue posts, and I don't think the problem is necessarily related to Nonpareil itself but I was hoping to get some insight into what I may be doing wrong.

[2022-01-22 19:40] ReneKat commented on #43
Hello!
First, a big THANK YOU for making nonpareil and its documentation.
This is just a comment on manipulating legends. I had a similar issue to others that have posted regarding legends. I wanted to share what worked for me. As was already mentioned, any argument in legend() can be applied to legend.opts .
I found cex = XX to be an easy fix to shrink or enlarge a legend. For example,
`Nonpareil

[2022-01-27 18:40] cjfields commented on #48
Coming into this a bit late, but there is a random seed setting as one of the parameters and sampling is mentioned in the documentation, so I think this is both completely expected and possible to make reproducible by setting `-r` to the same seed between runs:

[code]

[2022-01-28 10:49] VGalata commented on #48
Dear @cjfields,

Could you clarify how you use the `-r` option and with which version of the tool?
Also, I do not see this option listed when running `nonpareil -h` - neither in the mentioned version `3.3.3` nor in the latest one (`3.3.4`).

I tried to run version `v3.303` (`3.3.3`, `r341h470a237_0`) with the option `-r` set using the same command line two times. The output from the two runs has d

[2022-01-28 13:28] sjaenick opened #52 "Re-add factor to curve?"
Hi,

earlier releases of the package (I checked v2.3) supported a 'factor' argument for the curve that allowed
to easily switch from bp to Mbp/Gbp/.. - but also mentioned that this could possibly influence the fit of the
model. Would it be possible to re-introduce something similar again, maybe not for the curve but only as
an additional argument to the plot function (so model fit wouldn't change)

[2022-01-28 13:57] lmrodriguezr commented on #52
Hello,

That's a very good suggestion! You can currently do it with:
[code]

I'll add that to the documentation momentarily so it's easily accessible.

Thanks!
Miguel.

[2022-01-28 14:24] #52 closed

[2022-01-28 14:38] lmrodriguezr commented on #51
Hi,

I'm very glad you've found Nonpareil useful!

I cannot see any obvious issues with your data or your function call. The first thing that comes to my mind is that the files are not accessible for some reason, so I would check first if they all exist:
[code]

And if so, are they readable?
[code]

Maybe that's enough to detect the problem. If these return `FALSE` you can check each of them by re

[2022-01-28 14:44] lmrodriguezr commented on #49
Hello,

In theory, yes, you could get more robust estimates by increasing `-X`. However, in our tests, this is only the case when we get into the Tbp sizes. If that's your case, I would suggest increasing `-X` (e.g., 10-fold for 1Tb), and using the _k_-mer kernel (or the multi-node mode, if you prefer the alignment kernel).

Yes, this tool is designed for WGS metagenomes (not amplicons).

I'll clo

[2022-01-28 14:44] #49 closed

[2022-01-28 15:31] ZoeHansen commented on #51
Hi Miguel,

Thank you so much for your response! Yes, it was just a silly error, and one of my files must not have uploaded correctly and so did not "exist" when I was trying to call it. I'm glad it was an easy fix, but I'm sorry for such a silly problem, haha! I really appreciate you sharing your R knowledge and helping me figure it out right away.

Thank you, again!

[2022-01-28 15:31] #51 closed

[2022-01-28 17:52] lmrodriguezr commented on #48
Thanks for bringing this up to our attention! I have now implemented consistency with `-r` when using `-T alignment`. Note that it may still produce slightly different results with different numbers of threads (`-t`).

For `-T kmer`, we use an implementation of `random_device`, so it needs a little more work.

@gunturus Do you think the kmer kernel could be migrated to a deterministic implementati

[2022-01-28 17:57] lmrodriguezr commented on #47
Hello,

I'm glad you found Nonpareil useful!

This only affects the final coverage estimation, but diversity (and all other estimates) would be **very** reliable with near-saturation. In any case, our more recent experiments show that the effect on coverage estimates is very small anyway, so I've decided to remove this warning (for the upcoming v3.4). For now, it is safe to simply ignore this warn

[2022-01-28 17:58] #47 closed

[2022-01-28 18:05] lmrodriguezr commented on #46
Hello Andrew,

I'm very glad Nonpareil is working for you!

Yes, I think the approach you describe could work, but please note that this would only address "higher-boundary" issues. More often than not, subsampling is useful to target the most abundant populations (not the entire community, for which more data is often better). If you have a target (abundant) population and you know its relative a

[2022-01-28 18:05] #46 closed

[2022-01-28 18:06] lmrodriguezr commented on #16
I'm closing this issue since I didn't get responses back, but if anyone is able to reproduce it please feel free to reopen.

[2022-01-28 18:06] #16 closed

[2022-01-28 18:07] #27 closed

[2022-01-28 18:12] cjfields commented on #48
Happy to see @lmrodriguezr 's answer (and agree that it's good you raised it); I planned on replying that this sounds like a definite bug.

[2022-01-31 06:41] VGalata commented on #48
Dear @lmrodriguezr and @cjfields,

Thank you both for looking into this!

[2022-02-10 06:32] VGalata commented on #35
Dear @lmrodriguezr,

Thank you very much for looking into this!

For our purpose, having the second option being implemented would be better. We use `nonpareil` in a `snakemake` workflow where we want to move away from using unzipped FASTQ files and we would like to avoid unnecessary unzipping if possible. And, as you are saying it yourself, that would be also a more robust solution and I think it

[2022-02-10 07:45] jfy133 commented on #35
@lmrodriguezr we are in the same situtation as @VGalata as we would like to add it to a nextflow pipeline ;).

However, I think unzipping to a `/tmp` location & automatic cleanup after might be an OK temporary workaround, as at then at least we ourselves don't then have to deal with the unzipping itself. On the otherhand this depends on the implementatoin, and whether you rely on an internal unzip

[2022-02-22 18:31] dtsementzi3 opened #53 "Fatal error: Reduce the number of query reads (-X)"
I had the following fatal error while running nonpareil Nonpareil v3.4 as follows:

nonpareil -T kmer -s ../xx.human/$DS.NonHuman.1.fa -b np$DS -t 16 -f fasta -X 100

Fatal error:
Reduce the number of query reads (-X) to 10%% of total reads
 [      0.0] Fatal error: Reduce the number of query reads (-X) to 10%% of total reads

It turns out I had an error in the path (my files names are *.fasta and

[2022-02-22 19:41] lmrodriguezr commented on #53
Thanks! misleading indeed. I'm fixing this soon

[2022-02-22 19:44] #53 closed

[2022-03-14 09:04] jfy133 commented on #35
@lmrodriguezr just another thought... would it be easier to refactor input to allow `stdin`?

then could simply to `zcat <fastq>.gz | nonpareil <additional params`?

Just sayin' as also be fine with me in terms of accepting gzipped input in terms of useability.

[2022-04-03 04:33] INFINITY1993 opened #54 "input files for Nonpareil 3"
Hello,
Thanks for developing such an excellent tool.
For paired-end reads, how should I make the input file for Nonpareil 3? taking merged file of  paired-end reads as input? or taking one of the paired-end files is also ok?
Best regards!

[2022-04-04 02:00] jianshu93 commented on #54
@lmrodriguezr Hello Miguel, I think we should add a description that Nonpareil/3 only supports forward or reverse reads at a time and results are very close. I find this question has been asked several times even though you made it clear in the documentation page but not the GitHub page.  Most people will not be very careful about that detail in the documentation, can we make it more explicit.

Th

[2022-04-14 02:10] INFINITY1993 commented on #54
Hello, Jianshu, thanks for the comments. I noticed that "Nonpareil should be applied on single reads, one of the sister
reads in paired-end reads, or merged paired-end reads", but I'm not sure I exactly understand the words. Thus, I posted the question. Thanks for your clear answer "Nonpareil/3 only supports forward or reverse reads at a time and results are very close".

[2022-10-04 11:03] bramvandijk88 opened #55 "Bug in arrow placement with R packages?"
Heya,

I am assuming this is a simple bug, but just to be sure I will ask here. The arrows for indicating the sequencing effort seem to be placed wrongly for my data. (see figure below)
![image](https://user-images.githubusercontent.com/11132992/193803014-987ec88d-4667-490e-a862-eae9cfcd1d8e.png)